platform:
  - x64

environment:
  MSYSTEM: MSYS
  CTEST_OUTPUT_ON_FAILURE: 1

before_build:
  - git submodule update --init --recursive
#  - C:\msys64\usr\bin\bash -lc "PATH=/mingw64/bin:/usr/local/bin:/usr/bin:/bin:$PATH && pacman --noconfirm --ask 20 --sync --refresh --sysupgrade"
#  - C:\msys64\usr\bin\bash -lc "PATH=/mingw64/bin:/usr/local/bin:/usr/bin:/bin:$PATH && pacman --noconfirm --sync --refresh pacman git"
  - C:\msys64\usr\bin\bash -lc "PATH=/mingw64/bin:/usr/local/bin:/usr/bin:/bin:$PATH && pacman --noconfirm --needed --sync make mingw-w64-x86_64-{cmake,toolchain,clang,gtkmm3,gtksourceviewmm3,boost,aspell,aspell-en,libgit2}"

build_script:
  - C:\msys64\usr\bin\bash -lc "PATH=/mingw64/bin:/usr/local/bin:/usr/bin:/bin:$PATH && cd $APPVEYOR_BUILD_FOLDER && mkdir build && cd build && cmake -G\"MSYS Makefiles\" -DCMAKE_INSTALL_PREFIX=/mingw64 -DBUILD_TESTING=1 .. && make && make test"
