[submodule "lib/tiny-process-library"]
	path = lib/tiny-process-library
	url = https://gitlab.com/eidheim/tiny-process-library
[submodule "lib/libclangmm"]
	path = lib/libclangmm
	url = https://gitlab.com/cppit/libclangmm
